.App {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-nav a {
  text-decoration: none;
  color: white;
}

.main-nav a.active {
  border-bottom: 1px solid;
}

.login-form {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5%;
  padding: 5%;
}

.login-form button {
  margin: 20% 10% 0 10%;
  background: none;
  color: white;
  border: 1px solid;
  padding: 3% 0;
}

button:hover {
  cursor: pointer;
}
